* {
  padding: 0%;
  margin: 0%; }

.servicios_description_text, main .traumato .traumato_text, main .rpg .rpg_text, main .deporte .deporte_text {
  width: 65%;
  text-align: justify; }

.servicios_img_circle, main .traumato .traumato_img .servicios_img_3, main .rpg .rpg_img .servicios_img_3, main .deporte .deporte_img .servicios_img_3 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  padding: 5px; }

.title_main, .box_main_serv .servicios .servicios_title h2, .box_main_serv .box_main_os .title_os h2, main .servicios_info {
  color: #263238;
  font-weight: 800;
  font-size: 35px; }

.galery, main .galeria .galeria_1, main .galeria .galeria_2, main .galeria .galeria_3, main .galeria .galeria_4, main .galeria .galeria_5, main .galeria .galeria_6, main .galeria .galeria_7, main .galeria .galeria_8 {
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%; }

h2 {
  text-transform: uppercase; }

.insta {
  border-radius: 20px;
  display: block;
  padding: 0 10px;
  color: #DD2A7B;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600; }

.whats {
  border-radius: 20px;
  display: block;
  padding: 0 10px;
  color: #00BB2D;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600; }

.fb {
  border-radius: 20px;
  display: block;
  padding: 0 10px;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600; }

.box {
  font-family: 'Raleway', sans-serif;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 100%;
  grid-template-areas: "ele1" "ele2" "ele3"; }
  .box .box_header {
    grid-area: ele1;
    background-image: url(./../imagenes/backheader.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
  .box .button_header {
    display: none; }
  .box .nav {
    display: flex; }
    .box .nav .nav_links {
      font-weight: 600;
      display: flex;
      flex-direction: row;
      list-style: none;
      margin-top: 5%;
      margin-right: 15px; }
    .box .nav .nav_links li a {
      text-decoration: none;
      color: #263238;
      font-size: 17px;
      padding: 12px;
      border-radius: 6px; }
      .box .nav .nav_links li a:hover {
        background-color: #e6d5ce; }
  .box .header_title {
    color: #e6d5ce;
    font-weight: 600;
    font-size: 95px;
    margin-top: 200px;
    text-align: right;
    margin-right: 15px;
    -webkit-animation: text-focus-in 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: text-focus-in 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
    @-webkit-keyframes text-focus-in {
      0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0; }
      100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1; } }
    @keyframes text-focus-in {
      0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0; }
      100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1; } } } }
  .box .header_title2 {
    color: #e6d5ce;
    margin-top: 20px;
    margin-right: 15px;
    -webkit-animation: text-focus-in 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1.5s both;
    animation: text-focus-in 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1.5s both; }

.box_main_serv {
  grid-area: ele2;
  display: flex;
  flex-direction: column; }
  .box_main_serv .servicios {
    color: #263238;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*centra en el eje x*/
    justify-content: center;
    /*en el eje y*/
    height: 150px;
    margin-top: 30px; }
    .box_main_serv .servicios .servicios_title {
      text-align: center;
      margin-top: 80px;
      margin-bottom: 30px; }
      .box_main_serv .servicios .servicios_title p {
        font-size: 20px;
        font-weight: 600; }
  .box_main_serv .servicios1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 100px;
    /*gap: 1rem;*/
    margin-bottom: 5%; }
    .box_main_serv .servicios1 .servicios1_box {
      text-align: center;
      justify-content: space-between; }
      .box_main_serv .servicios1 .servicios1_box .servicios1_box_img:hover {
        -webkit-animation: kenburns-top 3s ease-out both;
        animation: kenburns-top 3s ease-out both; }

@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%; }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top; } }

@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%; }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top; } }
      .box_main_serv .servicios1 .servicios1_box p {
        font-size: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
        font-weight: 800;
        color: #e2c5b9;
        font-style: bold;
        align-items: right; }
      .box_main_serv .servicios1 .servicios1_box .servicios_container_img {
        margin-bottom: 30px; }
        .box_main_serv .servicios1 .servicios1_box .servicios_container_img .servicios1_box_img {
          width: 300px;
          height: 300px;
          border-radius: 50%; }
  .box_main_serv .box_main_nos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px; }
    .box_main_serv .box_main_nos .nosotros_box {
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url(../imagenes/carusel1.jpg);
      background-size: cover;
      background-image: fixed;
      width: 80%;
      height: 400px; }
    .box_main_serv .box_main_nos .nosotros_text {
      display: flex;
      /* width: 600px;*/
      padding: 20px;
      margin-top: 40px;
      width: 100%;
      align-items: center;
      justify-content: center;
      background-color: #ffece4; }
      .box_main_serv .box_main_nos .nosotros_text p {
        color: #263238;
        padding: 10px;
        line-height: 120%;
        font-size: 25px;
        text-align: center; }
  .box_main_serv .box_main_os {
    margin-top: 50px;
    display: flex;
    flex-direction: column; }
    .box_main_serv .box_main_os .title_os {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #F2F4F4;
      padding: 20px;
      color: #263238;
      text-align: center;
      font-size: 20px;
      margin-bottom: 40px; }
      .box_main_serv .box_main_os .title_os p {
        margin-top: 20px;
        font-size: 25px;
        font-weight: 600; }
    .box_main_serv .box_main_os .os_img_container {
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      margin-left: 10px;
      margin-bottom: 60px; }
      .box_main_serv .box_main_os .os_img_container .os_imgindex {
        display: flex;
        overflow: hidden; }

.box_footer {
  grid-area: ele3;
  background-color: #263238;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px; }
  .box_footer .contacto {
    display: flex;
    flex-direction: column; }
    .box_footer .contacto h4 {
      color: white;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 15px; }
    .box_footer .contacto p {
      color: white;
      line-height: 200%;
      font-size: 14px; }
  .box_footer .redes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .box_footer .redes a {
      text-decoration: none;
      text-align: center; }
    .box_footer .redes .redes_icon {
      width: 70px;
      height: 70px;
      padding: 10px; }
      .box_footer .redes .redes_icon:hover {
        -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
        animation: heartbeat 1.5s ease-in-out infinite both; }

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }
  .box_footer .footer_logo {
    height: 160px;
    display: flex; }

.os_all_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 20px; }
  .os_all_img div h2 {
    font-size: 35px;
    text-align: center;
    color: #263238;
    margin-top: 50px; }
  .os_all_img div p {
    font-size: 20px;
    text-align: center;
    color: #263238;
    font-weight: 600;
    padding: 20px;
    margin-bottom: 20px; }
  .os_all_img div .img_os {
    overflow: hidden; }

@media screen and (max-width: 992px) {
  .img_os_ {
    display: none; } }

main .servicios_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 40px; }

main .traumato {
  background: linear-gradient(#FDEDEC, #dcbda1);
  color: #263238;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0 20px 30px #a09d9d; }
  main .traumato .traumato_img .servicios_img_3 {
    animation-name: img_serv;
    animation-duration: 5s;
    animation-delay: 3s; }

@keyframes img_serv {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  main .traumato .traumato_text h2 {
    margin-bottom: 10px; }
  main .traumato .traumato_text h3 {
    margin-top: 10px; }
  main .traumato .traumato_text .traumato_list {
    list-style: none; }
  main .traumato .traumato_text .traumato_list li {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px; }

main .rpg {
  background: linear-gradient(#FDEDEC, #dcbda1);
  color: #263238;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0 20px 30px #a09d9d;
  background: linear-gradient(#ffffff, #b8bbbb); }
  main .rpg .rpg_text .rpg_text h2 {
    margin-bottom: 10px; }
  main .rpg .rpg_img .servicios_img_3 {
    animation-name: img_serv;
    animation-duration: 5s;
    animation-delay: 5s; }

@keyframes img_serv {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

main .deporte {
  background: linear-gradient(#FDEDEC, #dcbda1);
  color: #263238;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0 20px 30px #a09d9d; }
  main .deporte .deporte_img .servicios_img_3 {
    animation-name: img_serv;
    animation-duration: 5s;
    animation-delay: 6s; }

@keyframes img_serv {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  main .deporte .deporte_text .deporte_text h2 {
    margin-bottom: 10px; }
  main .deporte .deporte_text .deporte_text h3 {
    margin-top: 10px; }
  main .deporte .deporte_text .deporte_text li {
    list-style: none;
    margin-top: 10px; }

main .galeria {
  display: grid;
  height: 500px;
  margin-bottom: 5%;
  padding: 20px;
  grid-template-columns: 24% 24% 24% 24%;
  grid-template-rows: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem; }
  main .galeria .galeria_1 {
    background-image: url(../grid/1.jpg); }
  main .galeria .galeria_2 {
    background-image: url(../grid/2.jpg); }
  main .galeria .galeria_3 {
    background-image: url(../grid/3.jpg); }
  main .galeria .galeria_4 {
    background-image: url(../grid/4.jpg); }
  main .galeria .galeria_5 {
    background-image: url(../grid/5.jpg); }
  main .galeria .galeria_6 {
    background-image: url(../grid/6.jpg); }
  main .galeria .galeria_7 {
    background-image: url(../grid/7.jpg); }
  main .galeria .galeria_8 {
    background-image: url(../grid/8.jpg); }

main .title_atencion {
  background-color: #263238;
  color: white;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 30px; }

main .atencion {
  background-color: #e6d5ce;
  font-family: 'Comfortaa', cursive;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -20px;
  margin-bottom: 60px; }
  main .atencion .atencion_texto {
    font-size: 20px;
    padding: 20px;
    text-align: justify; }
    main .atencion .atencion_texto .atencion_texto p {
      color: #263238; }
  main .atencion .atencion_imgcontainer {
    padding: 20px; }
    main .atencion .atencion_imgcontainer .atencion_img {
      padding: 10px;
      width: 100%; }

@media screen and (max-width: 992px) {
  .img_os_ {
    display: none; } }

@media screen and (max-width: 768px) {
  .box .box_header {
    background-image: url(./../imagenes/backheader.jpg);
    align-items: flex-start;
    align-items: left; }
    .box .box_header .header_title {
      color: #e6d5ce;
      text-align: left;
      margin-left: 20px;
      font-size: 60px;
      padding-top: 20%; }
    .box .box_header .header_title2 {
      color: #e6d5ce;
      margin-top: 20px;
      font-size: 20px;
      margin-left: 20px;
      margin-bottom: 40px; }
    .box .box_header .button_header {
      display: flex;
      justify-content: right;
      padding: 20px;
      font-size: 20px; }
    .box .box_header .nav {
      display: none; }
  .box .servicios {
    margin-top: 15%; }
    .box .servicios .servicios_title {
      color: #263238;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 30px; }
      .box .servicios .servicios_title .servicios h2 {
        font-size: 30px; }
      .box .servicios .servicios_title .servicios p {
        font-size: 20px;
        font-weight: 600; }
  .box .servicios1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 5%; }
    .box .servicios1 .servicios1_box p {
      font-size: 30px;
      padding-top: 30px;
      padding-bottom: 30px;
      color: #263238;
      align-items: right; }
    .box .servicios1 .servicios1_box_img {
      width: 160px;
      height: 160px; }
  .box .box_main_nos {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .box .box_main_nos .nosotros_box {
      display: flex;
      align-items: center;
      justify-content: center; }
    .box .box_main_nos .nosotros_text {
      margin-bottom: 10px; }
      .box .box_main_nos .nosotros_text p {
        font-family: 'Comfortaa', cursive;
        font-size: 20px;
        font-weight: 600;
        color: #263238; }
  .box .box_main_os .title_os {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F2F4F4;
    padding: 20px;
    color: #263238;
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
    margin-top: 20px; }
  .box .box_main_os p {
    font-size: 20px; }
  .box .box_main_os .os_img_container {
    display: none; }
  .box .box_footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; }
    .box .box_footer .contacto {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%; }
      .box .box_footer .contacto .contacto h4 {
        font-size: 35px; }
      .box .box_footer .contacto .contacto p {
        font-size: 30px; }
    .box .box_footer .redes {
      margin-top: 15px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .box .box_footer .redes .redes_icon {
        width: 80px;
        height: 80px;
        padding: 20px; }
    .box .box_footer .footer_logo {
      display: none; }
  main .traumato {
    background-color: #dcbda1;
    color: #263238;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px; }
    main .traumato .traumato_img {
      margin-top: 30px;
      margin-bottom: 20px; }
    main .traumato .traumato_text {
      text-align: justify; }
      main .traumato .traumato_text p {
        font-size: 25px; }
      main .traumato .traumato_text h2 {
        margin-bottom: 10px;
        font-size: 30px;
        font-weight: bold;
        text-align: center; }
      main .traumato .traumato_text h3 {
        font-size: 25px; }
      main .traumato .traumato_text .traumato_list li {
        font-size: 23px;
        font-weight: bold; }
      main .traumato .traumato_text .traumato_list li::before {
        content: ">"; }
  main .rpg {
    background-color: #e9edc9;
    color: #263238;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px; }
    main .rpg .rpg_text {
      text-align: justify; }
      main .rpg .rpg_text h2 {
        margin-bottom: 10px;
        text-align: center;
        font-size: 30px;
        font-weight: bold; }
      main .rpg .rpg_text p {
        font-size: 25px; }
    main .rpg .rpg_img {
      margin-top: 30px;
      margin-bottom: 20px; }
  main .deporte {
    background-color: #dcbda1;
    color: #263238;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px; }
    main .deporte .deporte_text {
      text-align: justify; }
      main .deporte .deporte_text h2 {
        margin-bottom: 10px;
        text-align: center;
        font-size: 30px;
        font-weight: bold; }
      main .deporte .deporte_text p {
        font-size: 25px; }
      main .deporte .deporte_text h3 {
        font-size: 25px; }
      main .deporte .deporte_text .deporte_ol li {
        font-size: 23px; }
    main .deporte .deporte_img {
      margin-top: 30px;
      margin-bottom: 30px; }
  main section .galeria {
    display: grid;
    margin-bottom: 5%;
    padding: 20px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem; }
  .atencion {
    background-color: #e6d5ce;
    font-family: 'Comfortaa', cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -20px;
    margin-bottom: 60px; }
    .atencion .atencion_texto {
      font-size: 20px;
      padding: 20px;
      text-align: justify; }
      .atencion .atencion_texto .atencion_texto p {
        color: #333d29; }
    .atencion .atencion_imgcontainer {
      padding: 20px; }
      .atencion .atencion_imgcontainer .atencion_img {
        padding: 10px;
        width: 100%; }
  .os_all_img div h2 {
    font-size: 20px;
    color: #263238;
    margin-top: 50px; }
  .os_all_img div p {
    font-size: 17px;
    color: #263238;
    padding: 20px;
    margin-bottom: 20px; }
  .os_all_img div .img_os {
    overflow: hidden; } }

@media screen and (max-width: 562px) {
  .box .box_header {
    background-image: url(./../imagenes/backheader.jpg);
    align-items: flex-start;
    align-items: left; }
    .box .box_header .header_title {
      color: #e6d5ce;
      font-size: 60px;
      padding-top: 20%; }
    .box .box_header .header_title2 {
      color: #e6d5ce;
      margin-top: 20px;
      font-size: 20px;
      margin-bottom: 40px; }
    .box .box_header .button_header {
      display: flex;
      justify-content: right;
      padding: 20px;
      font-size: 20px; }
    .box .box_header .nav {
      display: none; }
  .box .servicios {
    margin-top: 15%; }
    .box .servicios .servicios_title {
      color: #263238;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 30px; }
      .box .servicios .servicios_title h2 {
        font-size: 25px; }
      .box .servicios .servicios_title p {
        font-size: 20px; }
  .box .servicios1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 5%; }
    .box .servicios1 .servicios1_box p {
      font-size: 30px;
      padding-top: 30px;
      padding-bottom: 30px;
      color: #263238;
      align-items: right; }
    .box .servicios1 .servicios1_box_img {
      width: 160px;
      height: 160px; }
  .box .box_main_nos {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .box .box_main_nos .nosotros_box {
      display: flex;
      align-items: center;
      justify-content: center; }
    .box .box_main_nos .nosotros_text {
      margin-bottom: 10px; }
      .box .box_main_nos .nosotros_text p {
        font-family: 'Comfortaa', cursive;
        font-size: 20px;
        font-weight: 600;
        color: #263238; }
  .box .box_main_os .title_os {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F2F4F4;
    padding: 20px;
    color: #263238;
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
    margin-top: 20px; }
  .box .box_main_os p {
    font-size: 20px; }
  .box .box_main_os .os_img_container {
    display: none; }
  .box .box_footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; }
    .box .box_footer .contacto {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%; }
      .box .box_footer .contacto .contacto h4 {
        font-size: 35px; }
      .box .box_footer .contacto .contacto p {
        font-size: 30px; }
    .box .box_footer .redes {
      margin-top: 15px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .box .box_footer .redes .redes_icon {
        width: 80px;
        height: 80px;
        padding: 20px; }
    .box .box_footer .footer_logo {
      display: none; }
  main .traumato {
    background-color: #dcbda1;
    color: #263238;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px; }
    main .traumato .traumato_img {
      margin-top: 30px;
      margin-bottom: 20px; }
    main .traumato .traumato_text {
      text-align: justify; }
      main .traumato .traumato_text p {
        font-size: 25px; }
      main .traumato .traumato_text h2 {
        margin-bottom: 10px;
        font-size: 30px;
        font-weight: bold;
        text-align: center; }
      main .traumato .traumato_text h3 {
        font-size: 25px; }
      main .traumato .traumato_text .traumato_list li {
        font-size: 23px;
        font-weight: bold; }
      main .traumato .traumato_text .traumato_list li::before {
        content: ">"; }
  main .rpg {
    background-color: #e9edc9;
    color: #263238;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px; }
    main .rpg .rpg_text {
      text-align: justify; }
      main .rpg .rpg_text h2 {
        margin-bottom: 10px;
        text-align: center;
        font-size: 30px;
        font-weight: bold; }
      main .rpg .rpg_text p {
        font-size: 25px; }
    main .rpg .rpg_img {
      margin-top: 30px;
      margin-bottom: 20px; }
  main .deporte {
    background-color: #dcbda1;
    color: #263238;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px; }
    main .deporte .deporte_text {
      text-align: justify; }
      main .deporte .deporte_text h2 {
        margin-bottom: 10px;
        text-align: center;
        font-size: 30px;
        font-weight: bold; }
      main .deporte .deporte_text p {
        font-size: 25px; }
      main .deporte .deporte_text h3 {
        font-size: 25px; }
      main .deporte .deporte_text .deporte_ol li {
        font-size: 23px; }
    main .deporte .deporte_img {
      margin-top: 30px;
      margin-bottom: 30px; }
  main section .galeria {
    display: grid;
    margin-bottom: 5%;
    padding: 20px;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem; }
  .atencion {
    background-color: #e6d5ce;
    font-family: 'Comfortaa', cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -20px;
    margin-bottom: 60px; }
    .atencion .atencion_texto {
      font-size: 20px;
      padding: 20px;
      text-align: justify; }
      .atencion .atencion_texto .atencion_texto p {
        color: #333d29; }
    .atencion .atencion_imgcontainer {
      padding: 20px; }
      .atencion .atencion_imgcontainer .atencion_img {
        padding: 10px;
        width: 100%; } }
