@media screen and (max-width: 992px) {


    .img_os_ {

        display: none;
    }

}

@media screen and (max-width: 768px) {


    .box {
        .box_header {

            background-image: url(./../imagenes/backheader.jpg);
            backdrop-filter: opacity (10%);
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;


            div {

                div {

                    .nav_links {

                        font-size: 15px;

                        li{

                            list-style: none;
                            text-align: center;
                            padding: 5px 0px;
                            border: solid;
                            border-radius: 10px;
                            border-color: $colorLightPink;
                            margin: 10px 0px;
                            padding: 5px 5px;
                            background-color: $colorTitle;
                            

                        }
                        li a {
                            text-decoration: none;
                            color: $colorLightPink;

                        }
                         

                    }

                }
            }

            .header_title {

                color: $colorLightPink;
                text-align: left;
                margin-left: 20px;
                font-size: 50px;
                text-align: right;

            }

            .header_title2 {

                display: none;


            }

            .button_header {
                display: flex;
                justify-content: right;
                padding: 20px;
                font-size: 30px;
            }

            .nav {
                display: none;
            }

        }

        .servicios {
            margin-top: 15%;

            .servicios_title {

                color: $colorTitle;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-bottom: 30px;

                .servicios h2 {

                    font-size: 30px;
                }

                .servicios p {

                    font-size: 20px;
                    font-weight: 600;
                }

            }
        }

        .servicios1 {

            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 50px;
            margin-bottom: 5%;

            .servicios1_box p {

                font-size: 30px;
                padding-top: 30px;
                padding-bottom: 30px;
                color: #263238;
                align-items: right;

            }

            .servicios1_box_img {

                width: 160px;
                height: 160px;
            }


        }

        .box_main_nos {

            display: flex;
            flex-direction: column;
            align-items: center;

            .nosotros_box {

                display: flex;
                align-items: center;
                justify-content: center;

            }

            .nosotros_text {

                margin-bottom: 10px;

                p {


                    font-family: 'Comfortaa', cursive;
                    font-size: 20px;
                    font-weight: 600;
                    color: $colorTitle;
                }

            }

        }

        .box_main_os {


            .title_os {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #F2F4F4;
                padding: 20px;
                color: $colorTitle;
                text-align: center;
                font-size: 30px;
                margin-bottom: 40px;
                margin-top: 20px;

            }

            p {

                font-size: 20px;

            }

            .os_img_container {

                display: none;
            }
        }

        .box_footer {

            display: flex;
            flex-wrap: wrap;
            flex-direction: column;

            .contacto {

                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;

                .contacto h4 {
                    font-size: 35px;
                }

                .contacto p {

                    font-size: 30px;

                }

            }

            .redes {
                margin-top: 15px;
                display: flex;
                justify-content: center;
                align-items: center;

                .redes_icon {


                    width: 80px;
                    height: 80px;
                    padding: 20px;

                }

            }

            .footer_logo {

                display: none;
            }

        }

    }

    main {

        .traumato {
            background-color: #dcbda1;
            color: $colorTitle;
            display: flex;
            flex-direction: column-reverse;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding: 20px;

            .traumato_img {

                margin-top: 30px;
                margin-bottom: 20px;

            }

            .traumato_text {

                text-align: justify;

                p {

                    font-size: 25px;
                }

                h2 {
                    margin-bottom: 10px;
                    font-size: 30px;
                    font-weight: bold;
                    text-align: center;
                }

                h3 {

                    font-size: 25px;
                }

                .traumato_list li {

                    font-size: 23px;
                    font-weight: bold;
                }

                .traumato_list li::before {

                    content: ">";

                }
            }
        }

        .rpg {
            background-color: #e9edc9;
            color: $colorTitle ;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            padding: 20px;

            .rpg_text {

                text-align: justify;

                h2 {

                    margin-bottom: 10px;
                    text-align: center;
                    font-size: 30px;
                    font-weight: bold;

                }

                p {

                    font-size: 25px;

                }


            }

            .rpg_img {

                margin-top: 30px;
                margin-bottom: 20px;

            }
        }

        .deporte {

            background-color: #dcbda1;
            color: #263238;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            flex-wrap: wrap;
            padding: 20px;

            .deporte_text {

                text-align: justify;


                h2 {

                    margin-bottom: 10px;
                    text-align: center;
                    font-size: 30px;
                    font-weight: bold;
                }

                p {

                    font-size: 25px;
                }


                h3 {

                    font-size: 25px;
                }

                .deporte_ol li {

                    font-size: 23px;
                }
            }

            .deporte_img {

                margin-top: 30px;
                margin-bottom: 30px;
            }

        }

        section {
            .galeria {

                display: grid;
                //height: 500px;//
                margin-bottom: 5%;
                padding: 20px;
                grid-template-columns: 50% 50%;
                grid-template-rows: 1fr 1fr;
                column-gap: 1rem;
                row-gap: 1rem;
            }
        }

    }

    .atencion {
        background-color: #e6d5ce;
        font-family: 'Comfortaa', cursive;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-top: -20px;
        margin-bottom: 60px;

        .atencion_texto {

            font-size: 20px;
            padding: 20px;
            text-align: justify;

            .atencion_texto p {

                color: #333d29;
            }
        }

        .atencion_imgcontainer {

            padding: 20px;

            .atencion_img {

                padding: 10px;
                width: 100%;

            }
        }
    }

    .os_all_img {


        div {

            h2 {
                font-size: 20px;
                color: $colorTitle;
                margin-top: 50px;
            }

            p {
                font-size: 17px;
                color: $colorTitle;
                padding: 20px;
                margin-bottom: 20px;
            }

        }

        div {

            .img_os {
                overflow: hidden;
            }
        }

    }

}

@media screen and (max-width: 562px) {


    .box {
        .box_header {


            background-image: url(./../imagenes/backheader.jpg);
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;


            .header_title {

                color: #e6d5ce;
                font-size: 40px;

            }

            .header_title2 {

                display: none;
            }

            .button_header {
                display: flex;
                justify-content: right;
                padding: 20px;
                font-size: 20px;
            }

            .nav {
                display: none;
            }

        }


        .servicios {

            margin-top: 15%;

            .servicios_title {

                color: #263238;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-bottom: 30px;

                h2 {

                    font-size: 25px;
                }

                p {

                    font-size: 20px;
                }

            }


        }

        .servicios1 {

            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 50px;
            margin-bottom: 5%;

            .servicios1_box p {

                font-size: 30px;
                padding-top: 30px;
                padding-bottom: 30px;
                color: #263238;
                align-items: right;

            }

            .servicios1_box_img {

                width: 160px;
                height: 160px;
            }


        }

        .box_main_nos {

            display: flex;
            flex-direction: column;
            align-items: center;

            .nosotros_box {

                display: flex;
                align-items: center;
                justify-content: center;

            }

            .nosotros_text {

                margin-bottom: 10px;

                p {


                    font-family: 'Comfortaa', cursive;
                    font-size: 20px;
                    font-weight: 600;
                    color: #263238;
                }

            }

        }

        .box_main_os {


            .title_os {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #F2F4F4;
                padding: 20px;
                color: #263238;
                text-align: center;
                font-size: 30px;
                margin-bottom: 40px;
                margin-top: 20px;

            }

            p {

                font-size: 20px;

            }

            .os_img_container {

                display: none;
            }
        }

        .box_footer {

            display: flex;
            flex-wrap: wrap;
            flex-direction: column;

            .contacto {

                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;

                .contacto h4 {
                    font-size: 35px;
                }

                .contacto p {

                    font-size: 30px;

                }

            }

            .redes {
                margin-top: 15px;
                display: flex;
                justify-content: center;
                align-items: center;

                .redes_icon {


                    width: 80px;
                    height: 80px;
                    padding: 20px;

                }

            }

            .footer_logo {

                display: none;
            }

        }

    }

    main {

        .traumato {
            background-color: #dcbda1;
            color: #263238;
            display: flex;
            flex-direction: column-reverse;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding: 20px;

            .traumato_img {

                margin-top: 30px;
                margin-bottom: 20px;

            }

            .traumato_text {

                text-align: justify;

                p {

                    font-size: 25px;
                }

                h2 {
                    margin-bottom: 10px;
                    font-size: 30px;
                    font-weight: bold;
                    text-align: center;
                }

                h3 {

                    font-size: 25px;
                }

                .traumato_list li {

                    font-size: 23px;
                    font-weight: bold;
                }

                .traumato_list li::before {

                    content: ">";

                }
            }
        }

        .rpg {
            background-color: #e9edc9;
            color: #263238;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            padding: 20px;

            .rpg_text {

                text-align: justify;

                h2 {

                    margin-bottom: 10px;
                    text-align: center;
                    font-size: 30px;
                    font-weight: bold;

                }

                p {

                    font-size: 25px;

                }


            }

            .rpg_img {

                margin-top: 30px;
                margin-bottom: 20px;

            }
        }

        .deporte {

            background-color: #dcbda1;
            color: #263238;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            flex-wrap: wrap;
            padding: 20px;

            .deporte_text {

                text-align: justify;


                h2 {

                    margin-bottom: 10px;
                    text-align: center;
                    font-size: 30px;
                    font-weight: bold;
                }

                p {

                    font-size: 25px;
                }


                h3 {

                    font-size: 25px;
                }

                .deporte_ol li {

                    font-size: 23px;
                }
            }

            .deporte_img {

                margin-top: 30px;
                margin-bottom: 30px;
            }

        }

        section {
            .galeria {

                display: grid;
                //height: 500px;//
                margin-bottom: 5%;
                padding: 20px;
                grid-template-columns: 100%;
                grid-template-rows: 1fr 1fr;
                column-gap: 1rem;
                row-gap: 1rem;
            }
        }

    }

    .atencion {
        background-color: #e6d5ce;
        font-family: 'Comfortaa', cursive;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-top: -20px;
        margin-bottom: 60px;

        .atencion_texto {

            font-size: 20px;
            padding: 20px;
            text-align: justify;

            .atencion_texto p {

                color: #333d29;
            }
        }

        .atencion_imgcontainer {

            padding: 20px;

            .atencion_img {

                padding: 10px;
                width: 100%;

            }
        }


    }

}