
.os_all_img {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    div {

        h2 {
            font-size: 35px;
            text-align: center;
            color: $colorTitle;
            margin-top: 50px;
            }
        
            p {
            font-size: 20px;
            text-align: center;
            color: $colorTitle;
            font-weight: 600;
            padding: 20px;
            margin-bottom: 20px;
            }

    }

    div {

        .img_os {
            overflow: hidden;
        }
    }
}


@media screen and (max-width: 992px) {

    .img_os_ {

        display: none;
    }
}